<section id="about-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 pl-0">
                <p class="title">
                    <span>PROFF KITCHEN MƏTBƏX</span>
                    avandanlıqları İLƏ ÜSTün PERFORMANSDAN Zövq alın
                </p>
                <p class="content-text">
                    Qui et ut dolor itaque voluptatem aliquam. Praesentium consequatur itaque nobis. Dolor saepe
                    quisquam saepe facilis voluptatem ut sapiente. Quia quia ut aut inventore cupiditate odio
                    maiores.Placeat dolorum iure nihil. Voluptate porro incidunt autem nihil occaecati vel. Reiciendis
                    ipsa est non sunt iusto quas. Voluptatibus aliquam quo a sit labore sit quia odit facere. Ut eos
                    velit et tempore. Atque commodi est.
                </p>
                <p class="content-text m-0">
                    Animi repudiandae tempora placeat blanditiis unde quaerat sit et laboriosam. Nam libero suscipit
                    dicta eaque eos sed suscipit qui ab. Aut similique eum laboriosam expedita.
                </p>
            </div>
            <div class="col-md-5 w-100 h-100 pr-0">
                <img src="../assets/about.png" alt="">
            </div>
        </div>
    </div>
</section>