<section id="categories-products">
    <div class="container">
        <div class="row">
            <div class="categories-list-first d-flex justify-content-between w-100 flex-column flex-md-row p-0">
                <div class="categories-group-item d-flex align-items-center justify-content-center flex-column">
                    <div class="category-img">
                        <img src="../assets/Frame-2.svg" alt="category">
                    </div>
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <p class="title">BİŞİRİCİlər</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center flex-column">
                    <div class="category-img">
                        <img src="../assets/Frame-3.svg" alt="category">
                    </div>
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <p class="title">SOYUDUCdivar</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center flex-column">
                    <div class="category-img">
                        <img src="../assets/Frame.svg" alt="category">
                    </div>
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <p class="title">Qabyuyanlar</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center flex-column">
                    <div class="category-img">
                        <img src="../assets/Frame-4.svg" alt="category">
                    </div>
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <p class="title">Fırınlar</p>
                    </a>
                </div>
            </div>
            <div class="categories-list-second d-flex justify-content-between w-100 flex-column flex-md-row p-0">
                <div class="categories-group-item d-flex align-items-center justify-content-center flex-column">
                    <div class="category-img">
                        <img src="../assets/Frame-1.svg" alt="category">
                    </div>
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <p class="title">Dəzgahlar</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center flex-column">
                    <div class="category-img">
                        <img src="../assets/Frame-5.svg" alt="category">
                    </div>
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <p class="title">içəcək hazırlayıcılar</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center flex-column">
                    <div class="category-img">
                        <img src="../assets/Frame-6.svg" alt="category">
                    </div>
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <p class="title">BUZ APARATLARI</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center flex-column"
                    style="background-image: url('../assets/Frame-7.png');">
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <p class="title">DAHA ÇOX
                        </p>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>