<section id="categories">
    <div class="container">
        <div class="row">
            <div class="categories-list d-flex justify-content-between w-100 flex-lg-nowrap flex-wrap">
                <div class="categories-group-item d-flex align-items-center justify-content-center">
                    <img src="./assets/Frame-2.svg" alt="category">
                    <a href="#">
                        <p class="title">BİŞİRİCİlər</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center">
                    <img src="./assets/Frame-3.svg" alt="category">
                    <a href="#">
                        <p class="title">SOYUDUCUlar</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center">
                    <img src="./assets/Frame.svg" alt="category">
                    <a href="#">
                        <p class="title">Qabyuyanlar</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center">
                    <img src="./assets/Frame-4.svg" alt="category">
                    <a href="#">
                        <p class="title">Fırınlar</p>
                    </a>
                </div>
                <div class="categories-group-item d-flex align-items-center justify-content-center">
                    <img src="./assets/Frame-1.svg" alt="category">
                    <a href="#">
                        <p class="title">Dəzgahlar</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>