<section id="certificate">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <p class="title">SERTİFİKATLARIMIZ</p>
                <p class="content-text">Qui et ut dolor itaque voluptatem aliquam. Praesentium consequatur itaque nobis.
                    Dolor saepe quisquam saepe facilis voluptatem ut sapiente. Quia quia ut aut inventore cupiditate
                    odio maiores.Placeat dolorum iure nihil. Voluptate porro incidunt autem nihil occaecati vel.
                    Reiciendis ipsa est non sunt iusto quas. Voluptatibus aliquam quo a sit labore sit quia odit facere.
                    Ut eos velit et tempore. Atque commodi est</p>
            </div>
            <div class="col-3">
                <img class="certificate-img" src="./assets/certificate-1.png" alt="">
            </div>
            <div class="col-3">
                <img class="certificate-img" src="./assets/certificate-2.png" alt="">
            </div>
            <div class="col-3">
                <img class="certificate-img" src="./assets/certificate-3.png" alt="">
            </div>
            <div class="col-3">
                <img class="certificate-img" src="./assets/certificate-4.png" alt="">
            </div>
        </div>
    </div>
</section>
