<section id="contact-us">
    <div class="map">
        <div id="map" style="width: 100%; height:500px"></div>
        {{!-- <iframe class="map-id"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1519.9217751344247!2d49.82311755824535!3d40.36799323841925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d92aa9a9515%3A0xcf64085f7a00a7be!2sVMF%20Kontinental!5e0!3m2!1sru!2s!4v1625823383795!5m2!1sru!2s"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> --}}
    </div>
    <div class="subscribtion">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <p class="title">Yeniliklərə abunə olun</p>
                    <p class="info">Hər gün yenililənən xəbər və kampaniyalardan xəbərdar olun</p>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="subscribe-bar d-flex w-100">
                        <div class="input-group">
                            <i class="far fa-envelope" aria-hidden="true"></i>
                            <input type="text" name="subscribe" id="search" placeholder="E-mail ünvanını daxil edin">
                        </div>
                        <button class="btn subscribe-btn" type="submit">
                            Abunə olun
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function initMap() {
        // The location of Uluru
        const uluru = { lat: 40.3762987, lng: 49.8203356 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            mapId: '5ecd3b5bf978a98f',
            zoom: 17,
            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
            icon: {
                path: faBus.icon[4] as string,
                fillColor: "#0000ff",
                fillOpacity: 1,
                anchor: new google.maps.Point(
                    faBus.icon[0] / 2, // width
                    faBus.icon[1] // height
                ),
                strokeWeight: 1,
                strokeColor: "#ffffff",
                scale: 0.075,
            },
            title: "Font Awesome  Marker",
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOLgEVxHjFa7o1b8iIvkzOuxqinHAiaLc&callback=initMap"
    async></script>