<section id="discounts">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="discounts h-100 d-flex flex-column justify-content-center" style='background-image:url("./assets/news-1.png")'>
                    <p class="category">KAMPANİYALAR</p>
                    <p class="title">PALTARYUYAN MAŞINLARA YAY ENDİRİMLƏRİ BAŞLADI
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </p>
                    <p class="info">Dolorem est voluptates quae qui dolor dolor aut dolorem.
                        Sunt provident non. Tempora fugit aut
                        qui ea.</p>
                    <a name="" id="" class="btn w-50" href="#" role="button">Daha ətraflı</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="news-card  mt-md-0 mt-4 mb-4"
                    style='background-image:url("./assets/news-2.png")'>
                    <p class="title">Consequatur aspernatur hic quod eos est.
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </p>
                    <p class="info">Dolorem est voluptates quae qui dolor dolor aut dolorem.
                        Sunt provident non. Tempora fugit aut
                        qui ea.</p>
                </div>
                <div class="news-card" style='background-image:url("./assets/news-3.png")'>
                    <p class="title">Consequatur aspernatur hic quod eos est.
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </p>
                    <p class="info">Dolorem est voluptates quae qui dolor dolor aut dolorem.
                        Sunt provident non. Tempora fugit aut
                        qui ea.</p>
                </div>

            </div>
        </div>
    </div>
</section>