<section id="discounts">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="discounts h-100 d-flex flex-column justify-content-center">
                    <div class="discounts-background-image" style='background-image:url("./assets/news-1.png")'></div>
                    <p class="category">KAMPANİYALAR</p>
                    <p class="title">PALTARYUYAN MAŞINLARA YAY ENDİRİMLƏRİ BAŞLADI
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </p>
                    <p class="info slice-text" data-count="150">Dolorem est voluptates quae qui dolor dolor aut dolorem.
                        Sunt provident non. Tempora fugit aut
                        qui ea.</p>
                    <a name="" id="" class="btn w-50" href="#" role="button">Daha ətraflı</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="news-card  mt-md-0 mt-4 mb-4">
                    <div class="discounts-background-image" style='background-image:url("./assets/news-2.png")'></div>
                    <p class="title">Consequatur aspernatur hic quod eos est.
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </p>
                    <p class="info slice-text" data-count="150">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Debitis iusto nulla alias sapiente quo minima accusantium id veniam. In placeat itaque
                        tempore voluptatem deserunt officia possimus dolor ut sint repudiandae.</p>
                </div>
                <div class="news-card">
                    <div class="discounts-background-image" style='background-image:url("./assets/news-3.png")'></div>
                    <p class="title">Consequatur aspernatur hic quod eos est.
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </p>
                    <p class="info slice-text" data-count="150">Dolorem est voluptates quae qui dolor dolor aut dolorem.
                        Sunt provident non. Tempora fugit aut
                        qui ea.</p>
                </div>

            </div>
        </div>
    </div>
</section>