<section id="news-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-6">
                <div class="card">
                    <img class="card-img-top" src="./assets/news-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="news-details.html">Ducimus eveniet omnis est.</a>
                        </h5>
                        <p class="content-text">Eum dolor ullam cupiditate rerum mollitia vero non consequatur sunt.
                            Asperiores est non voluptate tempora.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="card">
                    <img class="card-img-top" src="./assets/news-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="news-details.html">Ducimus eveniet omnis est.</a>
                        </h5>
                        <p class="content-text">Eum dolor ullam cupiditate rerum mollitia vero non consequatur sunt.
                            Asperiores est non voluptate tempora.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="card">
                    <img class="card-img-top" src="./assets/news-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="news-details.html">Ducimus eveniet omnis est.</a>
                        </h5>
                        <p class="content-text">Eum dolor ullam cupiditate rerum mollitia vero non consequatur sunt.
                            Asperiores est non voluptate tempora.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="card">
                    <img class="card-img-top" src="./assets/news-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="news-details.html">Ducimus eveniet omnis est.</a>
                        </h5>
                        <p class="content-text">Eum dolor ullam cupiditate rerum mollitia vero non consequatur sunt.
                            Asperiores est non voluptate tempora.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="card">
                    <img class="card-img-top" src="./assets/news-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="news-details.html">Ducimus eveniet omnis est.</a>
                        </h5>
                        <p class="content-text">Eum dolor ullam cupiditate rerum mollitia vero non consequatur sunt.
                            Asperiores est non voluptate tempora.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="card">
                    <img class="card-img-top" src="./assets/news-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="news-details.html">Ducimus eveniet omnis est.</a>
                        </h5>
                        <p class="content-text">Eum dolor ullam cupiditate rerum mollitia vero non consequatur sunt.
                            Asperiores est non voluptate tempora.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>