<section id="partners" style="background-image: url(./assets/partners.png);">
    <div class="partners-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3 ">
                    <p class="partners-title m-0">PARTNYORLARIMIZ</p>
                </div>
                <div class="col-9">
                    <div class="slider" id="partners-slider">
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-2.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-3.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-4.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-5.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-2.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-3.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-4.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cell auto slides">
                            <div class="partner-card">
                                <div class="partner-image">
                                    <img src="./assets/partner-5.svg" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>