<section id="product-details">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="mySlides d-block" data-page="1">
                    <img src="./assets/gallery.png">
                </div>

                <div class="mySlides" data-page="2">
                    <img src="./assets/gallery.png">
                </div>

                <div class="mySlides" data-page="3">
                    <img src="./assets/gallery.png">
                </div>

                <div class="mySlides" data-page="4">
                    <img src="./assets/gallery.png">
                </div>

                <div class="mySlides" data-page="5">
                    <img src="./assets/slider.png">
                </div>

                <div class="mySlides" data-page="6">
                    <img src="./assets/gallery.png">
                </div>

                <div class="dots">
                    <div class="gallery-dots active" data-page="1">
                        <img src="./assets/gallery-wide.png" alt="The Woods">
                    </div>
                    <div class="gallery-dots" data-page="2">
                        <img src="./assets/gallery-wide.png" alt="Cinque Terre">
                    </div>
                    <div class="gallery-dots" data-page="3">
                        <img src="./assets/gallery-wide.png" alt="Mountains and fjords">
                    </div>
                    <div class="gallery-dots" data-page="4">
                        <img src="./assets/gallery-wide.png" alt="Northern Lights">
                    </div>
                    <div class="gallery-dots" data-page="5">
                        <img src="./assets/gallery.png" alt="Nature and sunrise">
                    </div>
                    <div class="gallery-dots" data-page="6">
                        <img src="./assets/gallery-wide.png" alt="Snowy Mountains">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <p class="product-title m-0">
                    PROFF KITCHEN
                </p>
                <p class="content-title">22.6 Lt. iki qapılı soyuducu</p>
                <p class="content-text mb-3">Bu 22,6 kub metrlik soyuducuda Preserva® Qida Baxımı Sistemi var. İki
                    müstəqil
                    soyutma sistemi, qidaların təzə olmasına kömək edir, FreshFlow ™ Hava Filtri isə qoxuları minimuma
                    endirir və İstehsal Preserver həddən artıq yetişməyi gecikdirir. </p>
                <div class="more-info">
                    <div class="body">
                        <p class="content-text mb-3">Bu 22,6 kub metrlik soyuducuda Preserva® Qida Baxımı Sistemi var.
                            İki müstəqil
                            soyutma sistemi, qidaların təzə olmasına kömək edir. </p>
                    </div>
                    <div class="top d-flex align-items-baseline ">
                        <p class="info">
                            Daha ətraflı məlumat
                        </p>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="product-code d-flex align-items-baseline">
                    <i class="far fa-shopping-bag"></i>
                    <p class="info">Məhsul kodu:</p>
                    <p class="info"> <span>208720001000</span> </p>
                </div>
                <button type="button" class="btn proff-btn w-100 mt-3"  data-toggle="modal" data-target="#modelId">Sifariş et</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-table">
                    <p class="table-title">Xarakteristikalar</p>
                    <table class="table  table-borderless">
                        <tbody>
                            <tr>
                                <td scope="row">Ölçü</td>
                                <td scope="row">355 x 435 x 590 sm</td>
                            </tr>
                            <tr>
                                <td>Dərəcə</td>
                                <td>+2/+8 C°</td>
                            </tr>
                            <tr>
                                <td>Tutum</td>
                                <td>604 Lt.</td>
                            </tr>
                            <tr>
                                <td>Güc</td>
                                <td>0,3 kW</td>
                            </tr>
                            <tr>
                                <td>Voltaj</td>
                                <td>220 V</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>