<section id="promotion-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p class="content-title">
                    Nisi neque repudiandae nemo quia incidunt similique ducimus ut impedit.
                </p>
                <img class="promotion-image" src="../assets/promotion.png" alt="">
                <p class="content-text">
                    Est eum voluptate possimus voluptatem vitae illum quaerat. Ut excepturi natus temporibus autem
                    veniam omnis. Ex voluptas quibusdam facilis. Suscipit voluptas voluptas qui aut.Est eum voluptate
                    possimus voluptatem vitae illum quaerat. Ut excepturi natus temporibus autem veniam omnis. Ex
                    voluptas quibusdam facilis. Suscipit voluptas voluptas qui aut.Est eum voluptate possimus voluptatem
                    vitae illum quaerat. Ut excepturi natus temporibus autem veniam omnis. Ex voluptas quibusdam
                    facilis. Suscipit voluptas voluptas qui aut.
                </p>
                <p class="content-text">
                    Est eum voluptate possimus voluptatem vitae illum quaerat. Ut excepturi natus temporibus autem
                    veniam
                    omnis. Ex voluptas quibusdam facilis. Suscipit voluptas voluptas qui aut.Est eum voluptate possimus
                    voluptatem vitae illum quaerat. Ut excepturi natus temporibus autem veniam omnis. Ex voluptas
                    quibusdam
                    facilis. Suscipit voluptas voluptas qui aut.
                </p>
                <a class="go-back" href="promotions.html">
                    <img src="../assets/go-back.svg" alt="">
                    Bütün kampaniyalar
                </a>
            </div>
            <div class="col-md-3">
                <div class="promotion-social-media">
                    <div class="content-text">Sosial şəbəkələrdə rahatlıqla paylaşın.</div>
                    <div class="list-inline social-media mt-2">
                        <a class="list-inline-item mr-2"><img class="mb-0" src="../assets/facebook.svg" alt=""></a>
                        <a class="list-inline-item mr-2"><img class="mb-0" src="../assets/linkedin.svg" alt=""></a>
                        <a class="list-inline-item mr-2"><img class="mb-0" src="../assets/twitter.svg" alt=""></a>
                        <a class="list-inline-item mr-2"><img class="mb-0" src="../assets/vk.svg" alt=""></a>
                    </div>
                </div>
                <div class="content-text mt-4 d-flex align-items-center">
                    <img src="../assets/calendar-alt.svg" alt="">
                    <span class="ml-3">İyun 28, 2021</span>
                </div>
            </div>
        </div>
    </div>
</section>