<section id="category-results">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-baseline justify-content-between">
                <p class="title">BİŞİRİCİLƏR</p>
                <div class="mobile-filter-toggler d-md-none d-flex align-items-baseline">
                    <p class="content-text">Filter</p>
                    <i class="far fa-sliders-h"></i>
                </div>
            </div>
            <div class="col-12">
                <p class="info text-md-right">
                    Bu kateqoriyada ümumi <span>2123 </span> məhsul var.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="category-filter mobile-filter">
                    <div class="mobile-filter-header d-md-none d-flex justify-content-between align-items-baseline">
                        <p class="content-text"><span>Filter</span></p>
                        <div class="mobile-filter-close">
                            <i class="far fa-times"></i>
                        </div>
                    </div>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="heading-1">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link d-flex justify-content-between align-items-baseline"
                                        data-toggle="collapse" data-target="#collapse-1" aria-expanded="true"
                                        aria-controls="collapse-1">
                                        <p class="m-0">BİŞİRİCİLƏR</p>
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                data-parent="#accordion">
                                <div class="card-body p-0">
                                    <div class="list-inline">
                                        <a class="list-inline-item active" href="#"> 600 Seriya</a>
                                        <a class="list-inline-item" href="#"> 700 Seriya</a>
                                        <a class="list-inline-item" href="#"> 800 Seriya</a>
                                        <a class="list-inline-item" href="#"> Fast Food Bişiricilər</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-2">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link d-flex justify-content-between align-items-baseline collapsed"
                                        data-toggle="collapse" data-target="#collapse-2" aria-expanded="true"
                                        aria-controls="collapse-2">
                                        <p class="m-0">SOYUDUCULAR</p>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-2" class="collapse " aria-labelledby="heading-2" data-parent="#accordion">
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-3">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link d-flex justify-content-between align-items-baseline collapsed"
                                        data-toggle="collapse" data-target="#collapse-3" aria-expanded="false"
                                        aria-controls="collapse-3">
                                        <p class="m-0"> QABYUYANLAR</p>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-3" class="collapse " aria-labelledby="heading-3" data-parent="#accordion">
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-4">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link d-flex justify-content-between align-items-baseline collapsed"
                                        data-toggle="collapse" data-target="#collapse-4" aria-expanded="false"
                                        aria-controls="collapse-4">
                                        <p class="m-0">FIRINLAR</p>
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-4" class="collapse " aria-labelledby="heading-4" data-parent="#accordion">
                                <div class="card-body p-0">
                                    <div class="list-inline">
                                        <a class="list-inline-item active" href="#"> 600 Seriya</a>
                                        <a class="list-inline-item" href="#"> 700 Seriya</a>
                                        <a class="list-inline-item" href="#"> 800 Seriya</a>
                                        <a class="list-inline-item" href="#"> Fast Food Bişiricilər</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-5">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link d-flex justify-content-between align-items-baseline collapsed"
                                        data-toggle="collapse" data-target="#collapse-5" aria-expanded="false"
                                        aria-controls="collapse-5">
                                        <p class="m-0"> DƏZGAHLAR</p>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-5" class="collapse " aria-labelledby="heading-5" data-parent="#accordion">
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-6">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link d-flex justify-content-between align-items-baseline collapsed"
                                        data-toggle="collapse" data-target="#collapse-6" aria-expanded="false"
                                        aria-controls="collapse-6">
                                        <p class="m-0"> İÇƏCƏK HAZIRLAYICILAR</p>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-6" class="collapse" aria-labelledby="heading-6" data-parent="#accordion">
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-7">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link d-flex justify-content-between align-items-baseline collapsed"
                                        data-toggle="collapse" data-target="#collapse-7" aria-expanded="false"
                                        aria-controls="collapse-7">
                                        <p class="m-0"> BUZ APARATLARI</p>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-7" class="collapse" aria-labelledby="heading-7" data-parent="#accordion">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="row">
                    <div class="col-lg-4 col-6">
                        <div class="product-card m-0 mb-5">
                            <a href="#">
                                <div class="product-image">
                                    <img src="./assets/image 8.png" alt="">
                                </div>
                                <p class="category">QAB YUYANLAR</p>
                                <p class="product">İzqara düz</p>
                                <p class="id">806630000</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="product-card m-0 mb-5">
                            <a href="#">
                                <div class="product-image">
                                    <img src="./assets/image 8.png" alt="">
                                </div>
                                <p class="category">QAB YUYANLAR</p>
                                <p class="product">İzqara düz</p>
                                <p class="id">806630000</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="product-card m-0 mb-5">
                            <a href="#">
                                <div class="product-image">
                                    <img src="./assets/image 8.png" alt="">
                                </div>
                                <p class="category">QAB YUYANLAR</p>
                                <p class="product">İzqara düz</p>
                                <p class="id">806630000</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="product-card m-0 mb-5">
                            <a href="#">
                                <div class="product-image">
                                    <img src="./assets/image 8.png" alt="">
                                </div>
                                <p class="category">QAB YUYANLAR</p>
                                <p class="product">İzqara düz</p>
                                <p class="id">806630000</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="product-card m-0 mb-5">
                            <a href="#">
                                <div class="product-image">
                                    <img src="./assets/image 8.png" alt="">
                                </div>
                                <p class="category">QAB YUYANLAR</p>
                                <p class="product">İzqara düz</p>
                                <p class="id">806630000</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="product-card m-0 mb-5">
                            <a href="#">
                                <div class="product-image">
                                    <img src="./assets/image 8.png" alt="">
                                </div>
                                <p class="category">QAB YUYANLAR</p>
                                <p class="product">İzqara düz</p>
                                <p class="id">806630000</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="content-text m-0">
                            Siz 2123 məhsuldan 9 ədədinə baxırsınız.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</section>