<section id="search-page">
    <div class="container">
        <div class="row">
            <p class="content-title mb-0">Axtarışın nəticəsi “<span>Sobalı ocaq</span>”</p>
        </div>
        <div class="row">
            <p class="info">
                Heç bir nəticə tapılmadı
            </p>
        </div>
    </div>

</section>