<section id="services">
    <div class="container">
        <div class="row">

            <p class="title">Dünyanın qabaqcıl ölkələrin istehsalı olan professional
                <span> mətbəx avadanlıqlarının satışını </span>
                həyata
                keçirdirik.
            </p>
            <p class="info">Türkiyə və digər qabaqcıl ölkələrin istehsalı olan professional mətbəx
                avadanlıqlarının
                satışını həyata keçirdir. Avadanlıqlar güvən qazanmış və öndə gedən firmaların istehsalıdır.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="card text-center">
                    <img class="card-img-top" src="../assets/service-1.svg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Keyfiyyətli məhsul</h4>
                        <p class="card-text">Consequuntur voluptatum voluptates. Ad ullam ratione qui quia corporis
                            facilis quos
                            sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <img class="card-img-top" src="../assets/service-2.svg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Etibarlı əməkdaşlıq</h4>
                        <p class="card-text">Consequuntur voluptatum voluptates. Ad ullam ratione qui quia corporis
                            facilis quos
                            sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <img class="card-img-top" src="../assets/service-3.svg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sərfəli qiymət</h4>
                        <p class="card-text">Consequuntur voluptatum voluptates. Ad ullam ratione qui quia corporis
                            facilis quos
                            sint.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>