<section id="statistic">

    <div class="container-fluid">
        <div class="row">
            <div class="background d-flex ">
                <img class="background-image" src="./assets/statistic.png" alt="">
                <div class="content">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-3 m-auto">
                                <img src="./assets/statistic-4.svg" alt="">
                                <p class="count"><span class="counter" data-from="0" data-to="2123" data-speed="3000">
                                    </span>
                                    <span>+</span>
                                </p>
                                <p class="info">MƏMNUN MÜŞTƏRİLƏRİMİZ</p>
                            </div>
                            <div class="col-3 m-auto">
                                <img src="./assets/statistic-1.svg" alt="">
                                <p class="count"><span class="counter" data-from="0" data-to="345" data-speed="3000">
                                    </span>
                                    <span>+</span>
                                </p>
                                <p class="info">Məhsullarımız</p>
                            </div>
                            <div class="col-3 m-auto">
                                <img src="./assets/statistic-2.svg" alt="">
                                <p class="count"><span class="counter" data-from="0" data-to="55" data-speed="3000">
                                    </span>
                                    <span>+</span>
                                </p>
                                <p class="info">LahİyələrİMİZ</p>
                            </div>
                            <div class="col-3 m-auto">
                                <img src="./assets/statistic-3.svg" alt="">
                                <p class="count"><span class="counter" data-from="0" data-to="13" data-speed="3000">
                                    </span>
                                    <span>+</span>
                                </p>
                                <p class="info">PARTNYORLARIMIZ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</section>