<section id="statistic">

    <div class="container-fluid">
        <div class="row">
            <div class="background d-flex ">
                <img class="background-image" src="../assets/statistic.png" alt="">
                <div class="content">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-3 m-auto">
                                <img src="../assets/statistic-4.svg" alt="">
                                <p class="count">2123+</p>
                                <p class="info">MƏMNUN MÜŞTƏRİLƏRİMİZ</p>
                            </div>
                            <div class="col-3 m-auto">
                                <img src="../assets/statistic-1.svg" alt="">
                                <p class="count">345+</p>
                                <p class="info">Məhsullarımız</p>
                            </div>
                            <div class="col-3 m-auto">
                                <img src="../assets/statistic-2.svg" alt="">
                                <p class="count">55+</p>
                                <p class="info">LahİyələrİMİZ</p>
                            </div>
                            <div class="col-3 m-auto">
                                <img src="../assets/statistic-3.svg" alt="">
                                <p class="count">13+</p>
                                <p class="info">PARTNYORLARIMIZ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>