#best-products {
    margin: 5rem 0;
    .title {
        font-family: $font_family_second;
        font-weight: bold;
        font-size: 3rem;
        line-height: 4rem;
    }
    .info {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $second_text_color;
    }
}
.more {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    &:hover {
        text-decoration: none;
    }
    span {
        margin-right: 1rem;
        color: $main_text_color;
    }
    i {
        color: $highlight_text_color;
    }
}
.product-card {
    margin: 1rem;
    text-align: center;
    a:hover {
        text-decoration: none;
    }
    p {
        margin: 0;
    }
    .product-image {
        padding: 3.25rem;
        background-color: $background_gray;
        margin-bottom: 0.5rem;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .category {
        color: $second_text_color;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .product {
        color: $main_text_color;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .id {
        color: $second_text_color;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}

.slick-slide {
    height: fit-content;
}
