#best-products,
#search-page,
#category-results {
    margin: 5rem 0;
}
.more {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    &:hover {
        text-decoration: none;
    }
    span {
        margin-right: 1rem;
        color: $main_text_color;
    }
    i {
        color: $highlight_text_color;
    }
}
.product-card {
    margin: 1rem;
    text-align: center;
    a:hover {
        text-decoration: none;
        .product {
            color: $highlight_text_color;
        }
    }
    p {
        margin: 0;
    }
    .product-image {
        padding: 3.25rem;
        background-color: $background_gray;
        margin-bottom: 0.5rem;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .category {
        color: $second_text_color;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .product {
        color: $main_text_color;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2rem;
        transition: $tr_hover;
    }
    .id {
        color: $second_text_color;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}

.slick-slide {
    height: fit-content;
}

.pagination {
    margin-top: 2rem;
    .page-item {
        margin: 0 12px;
        .page-link {
            width: 2.5rem;
            height: 2.5rem;
            text-align: center;
            border: none;
            border-radius: 4px;
            background-color: $holder;
            color: $second_placeholder_color;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            i {
                line-height: 24px;
            }
            &:focus {
                box-shadow: none;
            }
        }
        &.active .page-link {
            color: $white;
            background-color: $main_text_color;
        }
    }
}

.category-filter {
    #accordion {
        .card {
            border: 0;
            .card-header {
                padding: 0;
                background-color: $white;
                border-color: $border;
                .btn-link {
                    width: 100%;
                    background-color: $highlight_text_color;
                    padding: 1rem 1.25rem;
                    color: $white;
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    box-shadow: none;
                    text-decoration: none;
                    i {
                        transition: $tr_hover;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    &.collapsed {
                        color: $main_text_color;
                        background-color: $white;
                        i {
                            color: $highlight_text_color;
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
            .collapse {
                .card-body {
                    padding: 0;
                    .list-group {
                        .list-group-item {
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            a {
                                color: $main_text_color;
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                            border: none;
                            border-bottom: 1px solid $border;
                            padding: 12px 0;
                            margin-left: 2.75rem;
                            position: relative;
                            &::after {
                                position: absolute;
                                top: 40%;
                                left: -1.5rem;
                                content: "";
                                width: 0.5rem;
                                height: 0.5rem;
                                border-radius: 50%;
                                background-color: $highlight_text_color;
                            }
                            &.active {
                                background-color: $white;
                                color: $highlight_text_color !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
