#discounts {
    margin: 5rem 0;
    .discounts {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        color: $white;
        padding: 3.25em;

        .category {
            font-family: $font_family_second;
            text-decoration: underline;
            margin-bottom: 1.5rem;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5rem;
        }
        .title {
            font-family: $font_family_second;
            font-weight: bold;
            font-size: 3rem;
            line-height: 1.1em;
        }
        .info {
            color: $white;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 1.5rem;
        }
        a {
            background-color: $white;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5em;
            padding: 0.8em;
        }
        @include media-breakpoint-between(sm, md) {
            padding: 2.5em;
        }
        @include media-breakpoint-between(xs, sm) {
            padding: 3rem;
        }
    }
    .news-card {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        //  background-image: url("http://localhost:8080/assets/news-2.png");
        width: 100%;
        color: $white;
        padding: 3.25rem;
        .title {
            font-family: $font_family_second;
            font-weight: bold;
            font-size: 1.75rem;
            line-height: 1.1em;
        }
        .info {
            color: $white;
        }
        @include media-breakpoint-between(sm, md) {
            padding: 2.5em;
        }
        @include media-breakpoint-between(xs, sm) {
            padding: 3rem;
        }
    }
}
