#news {
    background-color: $background_gray;
    padding: 5rem 0;
    .card {
        border: none;
        .card-img-top {
            border-radius: 4px;
        }
        .card-body {
            background-color: $background_gray;
            padding: 0;
            padding-top: 0.8rem;
            .card-title {
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 1.2em;
                a {
                    color: inherit;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .info {
        img {
            padding-right: 1rem;
        }
    }
}
