.contact-info {
    padding: 3.5rem 0 4.5rem;
    background-color: $highlight_text_color;
    .contact-title {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 1.25rem;
        color: $white;
    }

    .contact-list {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $white;
        margin-bottom: 0;
    }
    .contact-form {
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 100%;
        padding: 2rem;
        background-color: $white;
        box-shadow: 40px 20px 100px rgba(0, 0, 0, 0.1);
        border-radius: 6px;

        .form-title {
            font-weight: bold;
            font-size: 2rem;
            line-height: 3rem;
            margin-bottom: 2rem;
        }
    }
}
.form-group {
    label {
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 1.5rem;
        span {
            color: $highlight_text_color;
        }
    }
    .form-control {
        padding: 0.75rem 1rem;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 1.5rem;
        height: fit-content;
        border-color: $border;
        &::placeholder {
            color: $placeholder_color;
        }
        &:focus {
            background-color: $holder;
            box-shadow: none;
        }
    }
    &.error {
        .error-message {
            font-weight: 500;
            font-size: 0.8rem;
            line-height: 1rem;
            margin-top: 0.5rem;
            color: #ef3e42;
        }
        .form-control {
            border-color: #ef3e42;
        }
    }
    .text-length {
        font-weight: 500;
        font-size: 12px;
        line-height: 1rem;
        color: $placeholder_color;
        margin-top: 0.5rem;
        display: flex;
        justify-content: flex-end;
    }
}
