@media (max-width: 576px) {
    .container {
        max-width: 400px;
    }
    html {
        font-size: 11px;
    }
}
@media (min-width: 576px) {
    html {
        font-size: 12px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1072px;
    }
    html {
        font-size: 16px;
    }
}
body {
    color: $main_text_color;
    font-family: $font_family_base !important;
}
.content-text {
    color: $main_text_color;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    span {
        color: $highlight_text_color;
    }
    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }
}
.content-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    span {
        color: $highlight_text_color;
    }
   
}
.info {
    color: $second_text_color;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    span {
        color: $highlight_text_color;
    }
    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }
}
.title {
    columns: $main_text_color;
    font-family: $font_family_second;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.1em;
    span {
        color: $highlight_text_color;
    }
}
.not-found {
    margin: 5rem 0;
}

.proff-btn {
    padding: 1rem 3.25rem;
    background: $highlight_text_color;
    border-radius: 4px;
    color: $white;
    transition: $tr_hover;
    &:hover {
        color: $white;
        background-color: lighten($color: $highlight_text_color, $amount: 5);
    }
    &:focus {
        box-shadow: none;
    }
}
[class*="title"] a {
    color: inherit;
    transition: $tr_hover;
    &:hover {
        color: $highlight_text_color;
        text-decoration: none;
    }
}
a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.far {
    font-family: "Font Awesome 5 Pro";
}

#contact-us #map {
    height: 500px;
    @include media-breakpoint-down(sm) {
        height: 250px;
    }
}
