@media (max-width: 576px) {
    html {
        font-size: 11px;
    }
}
@media (min-width: 576px) {
    html {
        font-size: 12px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1072px;
    }
    html {
        font-size: 16px;
    }
}
body {
    color: $main_text_color;
    font-family: $font_family_base !important;
}

.content-text {
    color: $main_text_color;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    span {
        color: $highlight_text_color;
    }
}
.content-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    span {
        color: $highlight_text_color;
    }
}
.info {
    color: $second_text_color;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}
.title {
    columns: $main_text_color;
    font-family: $font_family_second;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.1em;
    span {
        color: $highlight_text_color;
    }
}
.not-found {
    margin: 5rem 0;
}
