#footer {
    padding: 5rem 0;
    text-align: center;
    background-color: $background_gray;
    .logo img {
        width: 9.625rem;
    }
}
.copyright {
    background-color: $highlight_text_color;
    p {
        padding: 1rem 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $white;
    }
    .talk-icon {
        transform: translateY(-50%);
    }
}

#contact-us {
    .subscribtion {
        padding: 5rem 0;
        .subscribe-bar {
            .input-group {
                border: 1px solid $border;
                border-radius: 4px 0px 0px 4px;
                display: flex;
                align-items: center;
                i {
                    position: absolute;
                    left: 1.3rem;
                }
                input {
                    width: 100%;
                    padding: 1rem 1.5rem;
                    padding-left: 3.5rem;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    border: none;
                    transition: $tr_hover;
                    &::placeholder {
                        color: $second_placeholder_color;
                    }
                    &:focus,
                    &:focus-visible {
                        border: none;
                        outline: none;
                        background-color: $holder;
                    }
                }
            }
            i {
                color: $highlight_text_color;
            }
            .subscribe-btn {
                min-width: fit-content;
                color: $white;
                font-size: 1rem;
                padding: 1rem 2rem;
                background: $highlight_text_color;
                border-radius: 0px 4px 4px 0px;
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}
