<footer>
  <section id="footer">
    <div class="logo mb-4">
      <img src="./assets/logo-light.svg" alt="">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 p-0">
          <ul class="list-inline navbar d-flex justify-content-between mt-2 p-0">
            <li class="list-inline-item active">Haqqımızda</li>
            <li class="list-inline-item">Məhsullar</li>
            <li class="list-inline-item">EHTİYYAT HİSSƏLƏRİ</li>
            <li class="list-inline-item">AKSESSUARLAR</li>
            <li class="list-inline-item">Kampanİyalar</li>
            <li class="list-inline-item">Xəbərlər</li>
            <li class="list-inline-item">BİZİMLƏ Əlaqə</li>
          </ul>
        </div>
        <div class="col-12">
          <p class="info">Türkiyə və digər qabaqcıl ölkələrin istehsalı olan professional mətbəx avadanlıqlarının
            satışını həyata keçirdir.
          </p>
        </div>
        <div class="col-12">
          <div class="list-inline social-media mt-2">
            <a class="list-inline-item"><i class="fab fa-facebook"></i></a>
            <a class="list-inline-item"><i class="fab fa-instagram"></i></a>
            <a class="list-inline-item"><i class="fab fa-linkedin"></i></a>
            <a class="list-inline-item"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="copyright ">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <p>Copyright © 2021 Proff Kitchen Bütün hüquqlar qorunur.</p>
        <div>
          <img src="./assets/propaganda.svg" alt="">
          <img class="talk-icon" src="./assets/talk-icon.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>