<div class="container-fluid p-0">

  <sectoin id="pre-header">
    <div class="line"></div>
    <div class="container">
      <div class="row justify-content-between align-items-center my-3">
        <div class="list-inline social-media my-auto">
          <a class="list-inline-item"><i class="fab fa-facebook"></i></a>
          <a class="list-inline-item"><i class="fab fa-instagram"></i></a>
          <a class="list-inline-item"><i class="fab fa-linkedin"></i></a>
          <a class="list-inline-item"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="page-lang d-flex align-items-center">
          <p class="my-auto">
            Dil seçimi
          </p>
          <ul class="list-inline m-0">
            <li class="list-inline-item active"><a href="#az">AZ</a></li>
            <li class="list-inline-item"><a href="#en">en</a></li>
            <li class="list-inline-item"><a href="#ru">ru</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-between align-items-center my-4">
        <div class="logo">
          <a href="/">
            <img class="" src="./assets/logo.png">
          </a>
        </div>
        <div class="search-bar d-flex w-75">
          <input type="text" name="search" id="search" placeholder="Məhsul üzrə axtarış edin...">
          <button class="btn search-btn" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 p-0">
          <ul class="list-inline navbar d-flex justify-content-start justify-content-md-between p-0">
            <li class="list-inline-item active"><a href="about.html"> Haqqımızda</a></li>
            <li class="list-inline-item"><a href="products.html"> Məhsullar</a></li>
            <li class="list-inline-item"><a href="spares.html"> EHTİYYAT HİSSƏLƏRİ</a></li>
            <li class="list-inline-item"><a href="accessories.html"> AKSESSUARLAR</a></li>
            <li class="list-inline-item"><a href="promotions.html"> Kampanİyalar</a></li>
            <li class="list-inline-item"><a href="news-page.html"> Xəbərlər</a></li>
            <li class="list-inline-item"><a href="contact.html"> BİZİMLƏ Əlaqə</a></li>
          </ul>
        </div>
      </div>
    </div>
  </sectoin>
</div>